@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    background-color: rgba(112, 101, 101, 0.822);
    background-size: cover;
}

/** the top part of home page **/

.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /**background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(247, 247, 247) 100%); **/
    display: flex;
    align-items: center;
    justify-content: center;
    /**backdrop-filter: blur(1px); **/
}

.top-logo {
    width:100px;
    height: 60px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-logo {
    cursor: pointer;
}

.top-header-section {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.top-header-section a {
    text-decoration: none;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 1.7;
    color: rgb(45, 53, 58);
    transition: color 0.5s ease;
}

.top-header-section a:hover {
    color: rgb(90, 182, 151);
    
}

.top-header-buttonsection {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 60px;
}

.top-bookbutton {
    background-color: rgba(41, 202, 167, 0.822);
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    transition: color 0.5s ease;
}

.top-bookbutton:hover {
    background-color: rgba(41, 202, 127, 0.438);
}

.top-bookbuttonclicked {
    scale: 0.9;
}

/** top menu when window is small **/

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}

.top-section-menu {
    
    padding-right: 30px;
    float: right;
}

.buttonsformenu {
    display: inline-block;
    color: rgb(0, 89, 255);
    border: none;
    background-color: rgba(255, 228, 196, 0.425);
    padding: 8px 11px 8px 11px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: none;
}

.buttonsformenu:hover {
    background-color: rgba(255, 228, 196, 0.514);

}

.menuforsmallwindow {
    width: 100%;
    height: 260px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 10;
    left: 0;
    z-index: 998;
    flex-direction: column;
    text-align: center;
    animation: slideDown 0.4s ease-out forwards;
}

.menuforsmallwindow a{
    color: rgba(0, 0, 0, 0.514);
    text-decoration: none;
    font-size: 20px;
    margin-top: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.menuforsmallwindow a:hover {
    color: rgb(0, 0, 0);
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}


@media (max-width: 767px) {
    
}

@media (max-width: 1036px) {
    .buttonsformenu {
        display: block;
    }

    .top-header-section {
      display: none;
    }

    .top-header-buttonsection {
        display: none;
    }

    .top {
        justify-content: flex;
    }

    .top-logo {
        margin-left: 20px; 
        margin-right: 50%;
    }

    .top-headingcontent {
        display: block;
    }

}